.modal{
    width: 490px;
    height: 235px;
    padding: 5px 16px;
    box-shadow: 0px 16px 50px 0px #0000003D;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
}


.modal .modalTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DEDFE5;
}

.modalTitle h2 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.modalTitle .closeButton{
    border: none;
    background: inherit;
    color: inherit;
}